.tagline,
.tagline-skill {
  height: 80px;
}

.tagline {
  font-family: "Fira Mono", monospace;
  overflow: hidden;
  background-color: #2a2a28;
  color: #fff;
}

.tagline-skill {
  position: relative;
  font-size: 1.5em;
  padding-top: .75em;
  animation: animatetotop 6s steps(3) infinite;
}
.tagline-skill_inner,
.tagline-skill-overlay {
  display: inline-block;
  font-size: x-large;
}

.tagline-skill_inner {
  position: relative;
  font-size: x-large !important
  line-height: 1;
}

.tagline-skill_inner:after {   
  content: "";
  position: absolute;
  top:-1px;right:0;bottom:0px;left:0;
  border-left: 1px solid #fff;
  font-size: x-large;
  background-color: #2a2a28;
  animation: animatetoright 1s steps(10) infinite alternate;
}

@keyframes animatetoright {
   0% {
    transform: translateX(0);
    margin-right: auto;
  }
  100% {
    transform: translateX(100%);
    margin-left: .6em;
    margin-right: -.6em;
  } 
}

@keyframes animatetotop {
   0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-240px);
  }  
}


/* general layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  background: background;
}

body {
  font: 100%/1.5 sans-serif;
  min-height: 100%;
  box-sizing: border-box;
}

header h1,
.tagline,
.tagline-skill {
  width: 100%;
  display: block;
  font-weight: 400;
}

header h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.75em;
  height: 112px;
  padding: .5em;
}   